<div class="container mt-5">
  <h1>Les habits du moment</h1>

  <section class="py-5">
    KingYano
kingyano
Ne pas déranger

KingYano — 20/11/2022 19:26
Image
Image
KingYano — 28/11/2022 10:46
https://appdistribution.firebase.google.com/accept/ac089f9a3af6b5d0fd6ec433
Sign in - Google Accounts
https://appdistribution.firebase.google.com/accept/343b913a14b5856d94c4a08c
Sign in - Google Accounts
KingYano — 09/12/2022 09:25
Il se peut qu'il y ait d'autres éléments qui ne sont pas inclus dans cette liste et que vous devriez peut-être vérifier ou compléter cette liste avant de poursuivre
KingYano — 09/12/2022 09:33
https://www.notion.so/Documentation-sur-l-accessibilt-3b7120e91ecd4835bbe9c0b20613bbf5
KingYano — 06/01/2023 14:00
Image
KingYano — 11/01/2023 21:04
Image
Image
KingYano — 17/01/2023 08:00
Image
Image
KingYano — 17/01/2023 11:04
John Wick Baba Yaga Chapter 4. Entirely done in Zbrush after being blocked out in Maya. A big thank you to the extremely talented Hicham Habchi, this was based off his artwork:John Wick Baba Yaga Chapter 4. Entirely done in Zbrush after being blocked out in Maya. A big thank you to the extremely talented Hicham Habchi, this was based off his artwork:
KingYano — 17/01/2023 11:38
"John Wick: Apocalypse Unleashed" is a project created by younghotblood. A Photoshop creation featuring the iconic character of John Wick Baba Yaga and his trusty companion, navigating the post-apocalyptic world overrun by zombies.

#JohnWick #Undead #PostApocalypse #Survival #Combat #Zombies #Badass #Action
"John Wick and his loyal companion, the dog, in a post-apocalyptic world"
KingYano — 19/01/2023 23:48
https://www.aelfriceden.com/collections/best-sellers/?sort_by=aelfric-eden-vintage-color-block-sherpa-coat%2Caelfric-eden-star-sky-sherpa-jacket%2Caelfric-eden-bear-print-double-sided-wearable-sherpa-coat%2Caelfric-eden-badge-solid-color-puffer-jacket%2Caelfric-eden-abstract-pattern-sherpa-jacket%2Caelfric-eden-stereoscopic-letter-sherpa-coat%2Caelfric-eden-simple-embroidered-polo-collar-winter-coat%2Caelfric-eden-solid-color-fake-two-piece-hooded-winter-coat-1%2Caelfric-eden-solid-color-twist-sweater-1%2Caelfric-eden-solid-color-all-match-stand-up-collar-bread-winter-coat%2Caelfric-eden-patchwork-tooth-washed-hoodie%2Caelfric-eden-contrast-zebra-print-sweater%2Caelfric-eden-pentagram-graphic-sweater-1%2Caelfric-eden-vintage-corduroy-panel-jacket%2Caelfric-eden-button-leather-splicing-jacket&utm_source=auto&utm_medium=lsad&utm_campaign=TOP15nA23852227205380101&utm_id=ls&utm_term=TOP15WH1PBest2212111702&utm_content=0923WH1PBest2212111702&tw_source=ig&tw_adid=23852411731080101&fbclid=PAAabBcXINWqbvyr01kVQAuNoQXkCOSyziMVRST9FSkFLxGMHRmE9t8zUj2lE
Aelfric eden
Best Sellers
Aelfric Eden is a Street fashion brand rooted in creating a brand with mix of skateboards and visual subcultures. It also aims to bring Asian street fashion into the Western world. Founder Eden hopes that the brand will become a symbol of global street culture in the future, and a link between skateboarding, graffiti,
Best Sellers
KingYano — 22/01/2023 15:01
https://fr.aliexpress.com/store/2787236?spm=a2g0o.store_pc_groupList.pcShopHead_6352018.0
KingYano — 20/02/2023 22:39
Image
KingYano — 20/02/2023 22:49
Type de fichier joint : archive
Yanis_BELKADI-archive.zip
234.58 KB
KingYano — 15/03/2023 12:09
https://codexweb.fr/git/
KingYano — 09/04/2023 18:35
Type de fichier joint : archive
Yanis_BELKADI-archive2.zip
235.68 KB
KingYano — 10/04/2023 11:07
Image
KingYano — 18/04/2023 17:09
Type de fichier joint : acrobat
2022-12_-_Yanis_BELKADI_-_Decembre_2022-1.pdf
90.36 KB
KingYano — 25/04/2023 08:40
Type de fichier joint : acrobat
2022-08_-_Yanis_BELKADI_-_Aout_2022.pdf
90.36 KB
KingYano — 18/05/2023 18:16
Type de fichier joint : acrobat
2023-04_-_Yanis_BELKADI_-_Avril_2023.pdf
90.38 KB
KingYano — 21/05/2023 21:20
I wanted to know if tomorrow you were at the apartment because I am waiting for an amazon package but I only come back in the evening after work will you be there now?
KingYano — 25/05/2023 23:03
https://movies7.to/
Movies7.to | Watch TV Series Online Free on movies7.to
movies7, movies7 movies, watch tv series online free, watch tv series free online, Watch movies online and stream movies online for free, update daily, HD quality
Image
Image
KingYano — 28/07/2023 22:12
Type de fichier joint : archive
Yanis_BELKADI-archive5.zip
1.69 MB
KingYano — 02/08/2023 18:00
https://www.andreyazizov.com/links?fbclid=PAAab748zhw9688TW_5oXmTeMFaCpyvSZopNlmPW2gzqQgU1vC557jhe1cQGA
Andrey Azizov
LINKS | Andrey Azizov
KingYano — 10/08/2023 18:40
Type de fichier joint : acrobat
2023-07_-_Yanis_BELKADI_-_Juillet_2023.pdf
90.71 KB
KingYano — 24/08/2023 15:17
BOPE PARIS CODE c04af7029a3cb8e0
KingYano — 10/09/2023 15:03
Image
KingYano — 02/10/2023 10:32
Type de fichier joint : archive
Yanis_BELKADI-archive6.zip
157.50 KB
KingYano — 02/10/2023 10:47
Image
Image
KingYano — 12/10/2023 20:36
Image
Image
Image
Image
Image
Image
Image
KingYano — 12/10/2023 20:50
https://photos.google.com/share/AF1QipPqr1oOcl1VDwy5Pk3nprlgGdBBd6BnZ7aZwZPkHfy0-w-xC-xKdJMyMNpSwe5euw?key=bUhBU2tfajBLWUFKMVJrcFRBUmVmQ2dTb0VNQmFB
Google Photos
2023-07 / Séminaire Interstis
2023-07 / Séminaire Interstis
KingYano — 12/10/2023 21:01
Image
Image
KingYano — 13/10/2023 09:27
https://www.canva.com/design/DAFLcWxNy5A/O2fPYcMMJq9jnpxBg2wtJg/edit?utm_content=DAFLcWxNy5A&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton
Canva
Formes minimalistes colorées Diaporama vidéo d'argumentaire interne
Formes minimalistes colorées Diaporama vidéo d'argumentaire interne
KingYano — 14/01/2024 14:21
Image
KingYano — 21/02/2024 17:54
https://upstream.to/yp104lrho8fb
Watching Wonka 2023 720p WEBRip 800MB
KingYano — 02/03/2024 03:14
Image
KingYano — 05/03/2024 00:07
Image
Image
KingYano — 02/04/2024 16:01
https://mon-vie-via.businessfrance.fr/offres/210717
KingYano — 25/06/2024 16:07
Type de fichier joint : acrobat
Yanis BELKADI CV.pdf
572.21 KB
KingYano — Aujourd’hui à 12:51
Travail à Faire:
Créer un nouveau projet ruby on rails tp_ruby_on_rails puis vous l’ajouter dans github
Ajouter Bootstrap pour le style
Créer une Navbar Complète avec les onglets de votre choix
Créer un Formulaire d’inscription et de Connexion
Faire preuve d’imagination pour créer 3 pages complètes et une navigation fluide entre elles
KingYano — Aujourd’hui à 23:42
About : 
<h2>Bienvenue dans notre boutique de jeux en ligne !</h2>
        <p>Nous sommes ravis de vous accueillir sur notre plateforme dédiée aux jeux vidéo. Chez Microarnak, nous vous proposons une sélection soigneusement choisie de jeux pour tous les types de joueurs.</p>
        <p>Découvrez notre collection diversifiée qui comprend des titres pour toutes les occasions : des jeux décontractés pour le quotidien aux jeux immersifs pour les passionnés.</p>
        <p>Notre équipe est passionnée par les jeux vidéo et s'engage à vous offrir une expérience d'achat exceptionnelle. Explorez nos différentes catégories, consultez nos recommandations et trouvez les jeux parfaits pour vous divertir et vous amuser.</p>
        <p>Nous mettons un point d'honneur à sélectionner des titres de qualité et à vous offrir un service clientèle irréprochable. Votre satisfaction est notre priorité absolue.</p>
        <p>Que vous soyez à la recherche des dernières nouveautés ou de classiques intemporels, nous avons ce qu'il vous faut. Parcourez notre boutique en ligne dès maintenant et laissez-vous inspirer par nos collections de jeux uniques.</p>
        <p>Merci de votre visite et à bientôt sur Microarnak !</p>
nav : 
 <li class="nav-item">
                    <a class="nav-link" href="index.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
Micromarnak
home :
<div class="container mt-5">
    <h1>Les jeux du moment</h1>

    <section class="py-3">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="w row-cols-md-3 row-cols-xl-4 justify-content-center">
Afficher plus
message.txt
6 Ko
﻿
<div class="container mt-5">
    <h1>Les jeux du moment</h1>

    <section class="py-3">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="w row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- Repeat this block for each product -->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70070000016597/4dc8ab1f09ced6fb2953b2caedd978c1f23df33b62305bcf3140308962073d57" alt="...">
                        <!-- Product details-->
                        <div class="card-body p-1">
                            <div class="d-flex txt-color">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Minecraft</h5>
                                <!-- Product price-->
                                15.00€
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
                            <div class="d-flex txt-color"><a class="btn btn-outline-dark mt-auto" href="#">Acheter</a></div>
                        </div>
                    </div>
                </div><div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://img.redbull.com/images/c_crop,w_1920,h_960,x_0,y_103,f_auto,q_auto/c_scale,w_1200/redbullcom/2020/6/5/ctsejxmdtw9inp8zqqqd/valorant" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-1">
                        <div class="d-flex txt-color">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Valorant</h5>
                            <!-- Product price-->
                            Gratuit
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex txt-color"><a class="btn btn-outline-dark mt-auto" href="#">View
                            options</a></div>
                    </div>
                </div>
            </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://blog.king-jouet.com/wp-content/uploads/2021/08/thumbnail_League-Of-Legends-e1634898736732.jpg" alt="...">
                        <!-- Product details-->
                        <div class="card-body p-1">
                            <div class="d-flex txt-color">
                                <!-- Product name-->
                                <h5 class="fw-bolder">League Of Legends</h5>
                                <!-- Product price-->
                                Gratuit
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
                            <div class="d-flex txt-color"><a class="btn btn-outline-dark mt-auto" href="#">Acheter</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://image.api.playstation.com/vulcan/ap/rnd/202402/2214/fe6de6126062e4d38dd6c4cef9ba1966ee2440a43429dc98.jpg" alt="...">
                        <!-- Product details-->
                        <div class="card-body p-1">
                            <div class="d-flex txt-color">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Elden Ring</h5>
                                <!-- Product price-->
                                60.00€
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
                            <div class="d-flex txt-color"><a class="btn btn-outline-dark mt-auto" href="#">Acheter</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000014724/72ce0a17215521a167c3da579db4cc48a2f7a52eacc81ad985ba20fd6817fdc2" alt="...">
                        <!-- Product details-->
                        <div class="card-body p-1">
                            <div class="d-flex txt-color">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Hogwarts Legacy</h5>
                                <!-- Product price-->
                                40.00€
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-1 pt-0 border-top-0 bg-transparent">
                            <div class="d-flex txt-color"><a class="btn btn-outline-dark mt-auto" href="#">Acheter</a></div>
                        </div>
                    </div>
                </div>

                <!-- Repeat ends here -->
            </div>
        </div>
    </section>
</div>
message.txt
6 Ko
</section>
</div>