/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
    font-family: Arial, sans-serif;
    background: #272727 !important;
    color: #fff !important;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.alert {
    background: #ff5400;
}

.navbar-nav .nav-link {
    margin-right: 15px;
}

.txt-color {
    color: black;
    justify-content: space-around;
}

.bg {
    background-color: rgba(0, 0, 0, .75) !important;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
